<footer class="mt-5">
    <div class="row fixed-bottom">
        <div class="container text-center text-light bg-dark p-1">
            Desenvolvido por Rafael Nunes &nbsp;
            <a href="https://github.com/rafaelnunes34" target="_blank"><i class="bi bi-github" style="font-size: 20px; color: #fff;"></i></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/rafael-nunes-oliveira/"><i class="bi bi-linkedin" style="font-size: 20px;  color: #fff;"></i></a>
        </div>
    </div>
</footer>